certifi==2021.10.8
cycler==0.11.0
easydict==1.9
fonttools==4.29.1
kiwisolver==1.3.2
matplotlib==3.5.1
mkl-fft==1.3.0
mkl-service==2.4.0
olefile==0.46
opencv-python
packaging==21.3
pyparsing==3.0.7
python-dateutil==2.8.2
PyYAML==6.0
scipy==1.7.3
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
tqdm==4.63.0
tensorboard
smplx==0.1.13
filterpy
numba
chumpy
git+https://github.com/mkocabas/yolov3-pytorch.git